*{
    margin: 0;
    /* position: relative; */
    font-family: 'Open Sans', sans-serif;
}
/* style navbar start */

nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 100px; 
    
}

.nav-title{
    color: #181818;
    font-weight: 800;
    font-size: 56px;
    
}

nav ul{
    display: flex;
    align-items: center;
    
}

nav li{
    list-style: none;
    margin-left: 45px;
    cursor: pointer;
    
}

.text-primary{
    color: #FD6E0A;
}

.btn{
    background: #FD6E0A;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 15px 30px;
    cursor: pointer;
}

.header{
    
    /* top: 0; */
    background: #FFF8F3;
    background-image: url("../images/header_bg.png"), url("../images/developer.png");
    background-repeat: no-repeat;
    /* background-size: 200px 500px; */
    background-position: bottom right, left;
}

.marry{
    width: 580px;
    height: 672px;
    left: 1050px;
    top: 161px;
} 
/* style navbar end */

/* bannaer styles */
.banner{
    display: flex;
    align-items: center;
    margin: 0 100px;
}

.banner-title{
    color: #181818;
    /* font-weight: 600; */
    font-size: 70px;
    /* line-height: 80px; */
}

.banner-sub-title{
    /* font-weight: 600; */
    color: #474747;
    font-style: normal;
    font-size: 40px;
    line-height: 61px;
    margin-bottom: 20px;
}

.b-discription{
    color: #757575;
    margin-bottom: 30px;
}

.btn-group{
    display: flex;
    
}
.btn i{
    padding-right: 4px;
    
}

.btn-contact{
    display: flex;
    align-items: center;
    
    margin-left: 10px;
    background: white;
    color: #FD6E0A;
    font-weight: 600;
    border: 1px solid #FD6E0A;
    border-radius: 4px;
    padding: 15px 30px;
    cursor: pointer;
}
.btn-contact i{
    padding-right: 4px;
}


/* main start  */

main{
    max-width: 1140px;
    margin: 0 auto;
    padding: 130px 150px;
}
.about{
    /* margin-top: 80px; */
    text-align: center;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 90px 150px;
}
.section-title{
    margin-top: 80px;
    text-align: center;
    padding-bottom: 30px;
    font-weight: 700;
    font-size: 35px;
    line-height: 48px;
}
.s-discription{
    color: #757575;
    text-align: center;
    font-size: small;
    margin-bottom: 30px;
    
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}

.about .info-title{
    font-size: small;
    color: #757575;
}
.info-discription{
    font-weight: 700;
    flood-color: #474747;
    font-size: small;
}

/* what i do section  */

.what-i{
    margin-top: 80px;
    text-align: center;
}

.skills-container{
    display: flex;
    gap: 24px;
}

.skill{
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 20px;
    text-align: left;
    
}
.skill-title{
    font-size: 16px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
}
.skill-discription{
    color: #757575;
    font-size: small;
}

/* resume summary  */

.resume-content{
    display: flex;
    gap: 24px;
    margin-top: 30px;
    margin-bottom: 30px;
    /* justify-content: space-between; */
}
.resume-item{
    margin-top: 30px;
    margin-bottom: 30px;
}
.resume-item .title{
    font-size: 20px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 10px;
}
.resume-item .sub-title{
    color: #757575;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
}
.resume-item .discription{
    color: #757575;
    font-size: small;
}
.btn-cv{
    margin-top: 30px;
    text-align: center;
}

/* contact part  */

.contact{
    margin-top: 30px;
    display: flex;
    gap: 100px;
    background: #FFF8F3;
    padding: 90px 100px;
}
.contact .section-title{
    text-align: left;
    width: 100%;
    padding: 18px 30px;
    
}
.contact input, textarea{
    margin-bottom: 24px;
    border: 0;
}
textarea{
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 10px;
}
input{
    height: 50px;
    border-radius: 5px;
    padding-left: 10px;
}
.contact a{
    text-decoration: none;
    margin-top: 20px;
    margin-right: 10px;
}